h3, h2, p {
    margin-left: 5%;
}
h4 {
    margin-left: 6%;
}
.container {
    display: block;
    width: 90%;
    padding: 5px;
    background-color: #F1EBDE;
}
.form-group {
    margin-left: 6%;
}
.radio {
    margin-left: 3%;  
    float: left;
}
.checkbox-title {
    color: rgb(3, 3, 58);
    float: left;
}

.radio {
    padding: 5px;
  
}

.button {
    cursor: pointer;
}

